SECRET_KEY=
DEBUG=
TELEGRAM_TOKEN=
WEBHOOK_MODE=
DROP_PENDING_UPDATES=

# secret token to make sure that the webhook was set by you, leave blank for none
TELEGRAM_SECRET_TOKEN=Secret-Token

# your HTTPS URL to send updates to
URL=https://example.com