[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "~=23.1.0"
isort = "~=5.10"
flake8 = "~=4.0"
pytest-django = "~=4.5.2"

[packages]
django = "~=4.0"
django-environ = "~=0.8"
python-telegram-bot = "~=13.13"
psycopg2-binary = "~=2.9.5"
gunicorn = "~=20.1.0"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
